ssqueezepy
librosa
numpy
ptwt
pywavelets
matplotlib==3.7.4
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.1
tikzplotlib==0.10.1
torch-summary
tensorboard
torchmetrics
captum
tqdm
optuna
pandas
timm==0.4.5